affinity: {}
autoscaling:
  enabled: false
  maxReplicas: 100
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
fullnameOverride: ''

VolumeExists:
  enabled: false

image:
  pullPolicy: Always
  repository: albird/node-red-krones-edition
  tag: latest
ports:
- containerPort: 1880

imagePullSecrets: []
ingress:
  annotations: {}
  enabled: true
  hosts:
    - host: noderedkrones.poc-applications.plgrnd.be
      paths:
        - backend:
            serviceName: noderedkrones.poc-applications.plgrnd.be
            servicePort: 1880
          path: /
  tls: []
nameOverride: ''
nodeSelector: {}
podAnnotations: {}
podSecurityContext:
  fsGroup: 2000
replicaCount: 1
resources: {}
securityContext: {}
service:
  port: 1880
  type: ClusterIP
serviceAccount:
  annotations: {}
  create: true
  name: ''
tolerations: []

