affinity: {}
autoscaling:
  enabled: false
  maxReplicas: 100
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
fullnameOverride: ''

image:
  pullPolicy: Always
  repository: albird/node-red-krones-edition
  tag: latest
imagePullSecrets: []
ingress:
  annotations: {}
  enabled: true
  hosts:
    - host: noderedkrones.poc-applications.plgrnd.be
      paths:
        - backend:
            serviceName: noderedkrones.poc-applications.plgrnd.be
            servicePort: 1880
          path: /
  tls: []

skipuninstall: true
persistence:
  claimName: node-red-krones-claimdata
  volumeName: node-red-krones-volume
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  storage: 3Gi


nameOverride: ''
nodeSelector: {}
podAnnotations: {}
podSecurityContext:
  fsGroup: 2000
ports:
  - containerPort: 1880
replicaCount: 1
resources: {}
securityContext: {}
service:
  port: 1880
  type: ClusterIP
serviceAccount:
  annotations: {}
  create: true
  name: ''
tolerations: []
